In [9]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

NASA Mars News

In [10]:
path={'executable_path':'/usr/local/bin/chromedriver'}
browser=Browser('chrome',**path,headless=False)
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [11]:
html=browser.html
soup=BeautifulSoup(html,"html.parser")
var=soup.select_one('.image_and_description_container')
var_last_article=var.select_one('.list_text')
news_title=var_last_article.select_one('.content_title').text
news_p=var_last_article.select_one('.article_teaser_body').text
print(news_title)
print(news_p)

Mars InSight's Mole Has Partially Backed Out of Its Hole
After making progress over the past several weeks digging into the surface of Mars, InSight's mole has backed about halfway out of its hole this past weekend.

JPL Mars Space Images - Featured Image

In [13]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [15]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
#Click the button ('full_image')
full_image_elem=browser.find_by_id('full_image')
full_image_elem.click()

In [16]:
#Click the button ('more info')
more_info_elem=browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [17]:
#Getting the new html from current page
html=browser.html
current=BeautifulSoup(html,'html.parser')

In [18]:
img_ref=current.find('figure', class_="lede").a['href']
img_url=f"https://www.jpl.nasa.gov{img_ref}"
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23354_hires.jpg'

Mars Weather

In [19]:
url="https://twitter.com/marswxreport?lang=en"
browser.visit(url)
html = browser.html
soup_temp= BeautifulSoup(html,'html.parser')

In [20]:
weather=soup_temp.find_all('div',class_="js-tweet-text-container")[0]
mars_weater=weather.find('p').text
mars_weater

'InSight sol 331 (2019-11-01) low -100.9ºC (-149.6ºF) high -24.6ºC (-12.3ºF)\nwinds from the SSE at 5.2 m/s (11.6 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.00 hPapic.twitter.com/jicxvaUZh1'

Mars Facts

In [21]:
url="https://space-facts.com/mars/"
tables=pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
df=tables[1]
df.columns=["Mars Facts","value"]
df

             Mars Facts                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
df.set_index("Mars Facts",inplace=True)
df

                                              value
Mars Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

html_table=df.to_html()
html_table

In [25]:
df.to_html('table.html')

Mars Hemispheres

In [26]:
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [27]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')
hemispheres=soup.find_all('div',class_="item")
a=hemispheres[0].div.a.h3.text
a

'Cerberus Hemisphere Enhanced'

In [28]:
hem1=hemispheres[0].a['href']
hem1_url=f"https://astrogeology.usgs.gov/{hem1}"
hem1_url

'https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced'

In [29]:
browser.visit(hem1_url)
html = browser.html
soup_hem1_pg = BeautifulSoup(html,'html.parser')

In [30]:
soup_hem1_pg.find('div', class_='downloads').ul.li.a['href']

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [31]:
hemi_list=[]
for hemi in hemispheres:
    hemi_dict={}
    hemi_dict['title']=hemi.div.a.h3.text
    h=hemi.a['href']
    hemi_url=f"https://astrogeology.usgs.gov/{h}"
    browser.visit(hemi_url)
    html = browser.html
    soup= BeautifulSoup(html,'html.parser')
    a=soup.find('div', class_='downloads').ul.li.a['href']
    hemi_dict['img_url']=a
    hemi_list.append(hemi_dict)

In [32]:
hemi_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]